<div class='bg-quote'>
	<div class='container'>
		<div class='row'><!-- row 1 -->
			<div class='col-xs-12'>		
				<h1>God Loves You</h1>
			</div>
		</div> <!-- end row 1 -->
		<div class='row'> <!-- row 2 -->
			<div class='col-md-4'>
			</div>
			<div class='col-md-4 col-xs-3'>
			</div>
			<div id="keywords" class='col-xs-6 col-md-4'>
				<form ng-hide="vm.currentQuote">
					<h2>I am troubled by. . .</h2>
					<select ng-model='vm.selectedWord' ng-change="vm.getAQuote()" class='form-control'>
						<option ng-repeat='keyword in vm.keywords' value='{{keyword.word}}'>{{keyword.word}}</option>
					</select>
				</form>
				<div id="bible-quote" ng-show='vm.currentQuote'>
					<p>{{vm.currentQuote.book.name}} {{vm.currentQuote.chapter}}:{{vm.currentQuote.verses}}</p>
					<p>{{vm.currentQuote.text}}</p>
					<p>({{vm.currentQuote.version.name}})</p>
					<input type='submit' class='returnButton' value='Return' ng-click='vm.currentQuote=null'>
				</div>
			</div> <!-- end id=keywords -->
				<div class='col-xs-3'>
			</div> 
		</div> <!-- end row 2 -->
		<div class='row'> <!-- row 3 -->
			<div id="goto-prayer" class='col-xs-12 col-md-4'>
				<a href="#/prayer"><input type='submit' class='prayerButton' value='Prayer Request'></a>
			</div> <!-- end goto-prayer -->
		</div> <!-- end row 3 -->
	</div> <!-- end container -->
</div> <!-- end bg-quote -->


